<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-1">
        <h3 class="content-header-title">Faqs</h3>
    </div>
    <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-10">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a routerLink="/dashboard/settings">Settings</a>
                </li>
                <li class="breadcrumb-item"><a >FAQs'</a>
                </li>
            </ol>
        </div>
    </div>
  </div>

  <div class="content-body">
      <section class="basic-elements">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Categories</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 mb-1">
                                    <fieldset>
                                      <label for="">Title:</label>
                                        <input type="text"
                                        class="form-control" [(ngModel)]="title" >
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 mb-1">
                                    <fieldset>
                                        <label for="">Details:</label>
                                        <input type="text"
                                        class="form-control" [(ngModel)]="detail" >
                                    </fieldset>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-4 mb-1">
                                    <fieldset style="margin-top: 27px !important;">
                                        <button class="btn btn-primary btn-block" (click)="add()" >Add FAQ</button>
                                    </fieldset>
                                </div>
                              </div>
                                <br>
                                <app-spinner *ngIf="showSpinner"></app-spinner>
                                <div class="table-responsive">
                                    <table class="table" *ngIf="!showSpinner">
                                      <thead>
                                        <tr >
                                          <th>Title</th>
                                          <th>Detail</th>
                                          <th>Actions</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let item of faqs | paginate: { itemsPerPage: 10, currentPage: p }">
                                          <th scope="row">{{item.title}}</th>
                                          <td class="small">{{item.faq}}</td>
  
                                          <td >
                                            <span style="margin-left: 6px;"></span>
                                            <a style="color: red" (click)="delete(item)"><i class="ft-trash-2"></i></a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="p = $event" previousLabel="Previous"
                                    nextLabel="Next"
                                    responsive="true"
                                    autoHide="true"
                                    directionLinks="false"
                                    ></pagination-controls>
                                  </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
  </div>
  