<div class="main-menu menu-fixed menu-shadow menu-dark menu-accordion" data-scroll-to-active="true" id="sidebar">
  <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          <li class=" navigation-header"><span>{{type}}</span><i class="ft-minus" ></i>
          </li>
          <li class="nav-item"><a routerLink="/dashboard/home"><i class="ft-home"></i><span class="menu-title" >Dashboard</span>
          </a>
          </li>
          <!-- <li class="nav-item" *ngIf="privilege" ><a><i class="ft-user"></i><span class="menu-title">Users</span></a>
              <ul class="menu-content">
                  <li><a class="menu-item" ></a>
                      <ul class="menu-content">
                          <li><a class="menu-item" routerLink="/dashboard/add-user">Add User</a>
                          </li>
                          <li><a class="menu-item" routerLink="/dashboard/users">User Details</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li> -->
          <li class="nav-item"><a  routerLink="/dashboard/add-user"><i class="ft-file-text"></i><span class="menu-title">Add User</span></a>
          </li>
          <li class="nav-item"><a  routerLink="/dashboard/users"><i class="ft-file-text"></i><span class="menu-title">User Details</span></a>
          </li>
          <li class="nav-item"><a  routerLink="/dashboard/categories"><i class="ft-file-text"></i><span class="menu-title">Categories</span></a>
          </li>
          <li class="nav-item"><a  routerLink="/dashboard/sub-categories"><i class="ft-file-text"></i><span class="menu-title">Sub Categories</span></a>
          </li>
          <!-- <li class="nav-item"><a  routerLink="/dashboard/offers"><i class="fa fa-money"></i><span class="menu-title">Offers</span></a>
          </li> -->
          <li class="nav-item"><a  routerLink="/dashboard/posts"><i class="ft-settings"></i><span class="menu-title">Posts</span></a>
          </li>
          <li class="nav-item"><a routerLink="/dashboard/settings"  ><i class="ft-settings"></i><span class="menu-title">Settings</span></a>
           </li>
          <li class="nav-item"><a  (click)="logout()"><i class="ft-log-out"></i><span class="menu-title">Log out</span></a>
          </li>
      </ul>
  </div>
</div>






